tags/R31_2012-05-27_release_test1/IPK-Plugins/src/java/de/ipk_gatersleben/ag_nw/graffiti/plugins/gui/editing_tools/script_helper/vanted.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="experimentdata">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="experiment">
					<xs:complexType>
						<xs:all>
							<xs:element name="experimentname" type="xs:string"/>
							<xs:element name="database" type="xs:string" minOccurs="0"/>
							<xs:element name="remark" type="xs:string"/>
							<xs:element name="coordinator" type="xs:string"/>
							<xs:element name="experimenttype" type="xs:string" minOccurs="0"/>
							<xs:element name="sequence" type="xs:string" minOccurs="0"/>
							<xs:element name="excelfileid" type="xs:string" minOccurs="0"/>
							<xs:element name="importusername" type="xs:string"/>
							<xs:element name="importusergroup" type="xs:string"/>
							<xs:element name="importdate" type="xs:string"/>
							<xs:element name="startdate" type="xs:string"/>
							<xs:element name="measurements" type="xs:int"/>
							<xs:element name="imagefiles" type="xs:int"/>
							<xs:element name="sizekb" type="xs:int"/>
						</xs:all>
						<xs:attribute name="experimentid" type="xs:int" use="required"/>
					</xs:complexType>
				</xs:element>
				<xs:element name="measurements" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="substance" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="line" minOccurs="0" maxOccurs="unbounded">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="sample" minOccurs="0" maxOccurs="unbounded">
														<xs:complexType>
															<xs:sequence minOccurs="0" maxOccurs="unbounded">
																<xs:element name="average" minOccurs="0" maxOccurs="1">
																	<xs:complexType>
																		<xs:simpleContent>
																			<xs:extension base="xs:double">
																				<xs:attribute name="unit" use="optional"/>
																				<xs:attribute name="stddev" type="xs:double" use="required"/>
																				<xs:attribute name="replicates" type="xs:int" use="optional"/>
																				<xs:attribute name="min" type="xs:double" use="required"/>
																				<xs:attribute name="max" type="xs:double" use="required"/>
																			</xs:extension>
																		</xs:simpleContent>
																	</xs:complexType>
																</xs:element>
																<xs:element name="data" minOccurs="0" maxOccurs="unbounded">
																	<xs:complexType>
																		<xs:simpleContent>
																			<xs:extension base="xs:double">
																				<xs:attribute name="unit" type="xs:string" use="optional"/>
																				<xs:attribute name="measurementtool" type="xs:string" use="optional"/>
																				<xs:attribute name="replicates" type="xs:int" use="required"/>
																				<xs:attribute name="position" type="xs:double" use="optional"/>
																				<xs:attribute name="positionUnit" type="xs:string" use="optional"/>
																				<xs:attribute name="id" type="xs:int" use="optional"/>
																				<xs:attribute name="quality" type="xs:string" use="optional"/>
																			</xs:extension>
																		</xs:simpleContent>
																	</xs:complexType>
																</xs:element>
																<xs:element name="image" minOccurs="0" maxOccurs="unbounded">
																	<xs:complexType>
																		<xs:simpleContent>
																			<xs:extension base="xs:string">
																				<xs:attribute name="unit" type="xs:string" use="optional"/>
																				<xs:attribute name="measurementtool" type="xs:string" use="optional"/>
																				<xs:attribute name="replicates" type="xs:int" use="required"/>
																				<xs:attribute name="position" type="xs:double" use="optional"/>
																				<xs:attribute name="positionUnit" type="xs:string" use="optional"/>
																				<xs:attribute name="pixelsizex" type="xs:double" use="required"/>
																				<xs:attribute name="pixelsizey" type="xs:double" use="required"/>
																				<xs:attribute name="thickness" type="xs:double" use="required"/>
																				<xs:attribute name="md5sum" type="xs:string" use="optional"/>
																				<xs:attribute name="id" type="xs:int" use="optional"/>
																				<xs:attribute name="quality" type="xs:string" use="optional"/>
																			</xs:extension>
																		</xs:simpleContent>
																	</xs:complexType>
																</xs:element>
																<xs:element name="volume" minOccurs="0" maxOccurs="unbounded">
																	<xs:complexType>
																		<xs:simpleContent>
																			<xs:extension base="xs:string">
																				<xs:attribute name="unit" type="xs:string" use="optional"/>
																				<xs:attribute name="measurementtool" type="xs:string" use="optional"/>
																				<xs:attribute name="replicates" type="xs:int" use="required"/>
																				<xs:attribute name="voxelsizex" type="xs:double" use="required"/>
																				<xs:attribute name="voxelsizey" type="xs:double" use="required"/>
																				<xs:attribute name="voxelsizez" type="xs:double" use="required"/>
																				<xs:attribute name="dimensionx" type="xs:int" use="required"/>
																				<xs:attribute name="dimensiony" type="xs:int" use="required"/>
																				<xs:attribute name="dimensionz" type="xs:int" use="required"/>
																				<xs:attribute name="colordepth" type="xs:string" use="required"/>
																				<xs:attribute name="md5sum" type="xs:string" use="optional"/>
																				<xs:attribute name="id" type="xs:int" use="optional"/>
																				<xs:attribute name="quality" type="xs:string" use="optional"/>
																			</xs:extension>
																		</xs:simpleContent>
																	</xs:complexType>
																</xs:element>
																<xs:element name="network" minOccurs="0" maxOccurs="unbounded">
																	<xs:complexType>
																		<xs:simpleContent>
																			<xs:extension base="xs:string">
																				<xs:attribute name="name" type="xs:string" use="required"/>
																				<xs:attribute name="group" type="xs:string" use="required"/>
																				<xs:attribute name="source" type="xs:string" use="required"/>
																				<xs:attribute name="md5sum" type="xs:string" use="optional"/>
																				<xs:attribute name="id" type="xs:int" use="optional"/>
																				<xs:attribute name="quality" type="xs:string" use="optional"/>
																			</xs:extension>
																		</xs:simpleContent>
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
															<xs:attribute name="unit" type="xs:string" use="optional"/>
															<xs:attribute name="time" type="xs:int" use="optional"/>
															<xs:attribute name="id" type="xs:int" use="required"/>
															<xs:attribute name="ttest" type="xs:string" use="optional"/>
															<xs:attribute name="component" type="xs:string" use="optional"/>
															<xs:attribute name="measurementtool" type="xs:string" use="optional"/>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
												<xs:attribute name="variety" type="xs:string" use="optional"/>
												<xs:attribute name="treatment" type="xs:string" use="optional"/>
												<xs:attribute name="name" type="xs:string" use="required"/>
												<xs:attribute name="id" type="xs:long" use="required"/>
												<xs:attribute name="growthconditions" type="xs:string" use="optional"/>
												<xs:attribute name="genotype" type="xs:string" use="required"/>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="name19" type="xs:string" use="optional"/>
									<xs:attribute name="name18" type="xs:string" use="optional"/>
									<xs:attribute name="name17" type="xs:string" use="optional"/>
									<xs:attribute name="name16" type="xs:string" use="optional"/>
									<xs:attribute name="name15" type="xs:string" use="optional"/>
									<xs:attribute name="name14" type="xs:string" use="optional"/>
									<xs:attribute name="name13" type="xs:string" use="optional"/>
									<xs:attribute name="name12" type="xs:string" use="optional"/>
									<xs:attribute name="name11" type="xs:string" use="optional"/>
									<xs:attribute name="name10" type="xs:string" use="optional"/>
									<xs:attribute name="name9" type="xs:string" use="optional"/>
									<xs:attribute name="name8" type="xs:string" use="optional"/>
									<xs:attribute name="name7" type="xs:string" use="optional"/>
									<xs:attribute name="name6" type="xs:string" use="optional"/>
									<xs:attribute name="name5" type="xs:string" use="optional"/>
									<xs:attribute name="name4" type="xs:string" use="optional"/>
									<xs:attribute name="name3" type="xs:string" use="optional"/>
									<xs:attribute name="name2" type="xs:string" use="optional"/>
									<xs:attribute name="name1" type="xs:string" use="optional"/>
									<xs:attribute name="name0" type="xs:string" use="optional"/>
									<xs:attribute name="name" type="xs:string" use="required"/>
									<xs:attribute name="funcat" type="xs:string" use="optional"/>
									<xs:attribute name="new_blast_score" type="xs:string" use="optional"/>
									<xs:attribute name="new_blast_e_val" type="xs:string" use="optional"/>
									<xs:attribute name="substancegroup" type="xs:string" use="optional"/>
									<xs:attribute name="formula" type="xs:string" use="optional"/>
									<xs:attribute name="score" type="xs:string" use="optional"/>
									<xs:attribute name="secure" type="xs:string" use="optional"/>
									<xs:attribute name="cluster_id" type="xs:string" use="optional"/>
									<xs:attribute name="spot" type="xs:string" use="optional"/>
									<xs:attribute name="affy_hit" type="xs:string" use="optional"/>
									<xs:attribute name="info" type="xs:string" use="optional"/>
									<xs:attribute name="id" type="xs:string" use="optional"/>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>

